.app {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: row;
  max-height: 100vh;
  overflow: hidden;
  align-items: center;
}

.app-container {
  height: 95vh;
  max-height: 92vh;
  width: 100%;
  border-radius: 3rem;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 30px;
}
